@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://gradient.page/tools/shadcn-ui-theme-generator */

@layer base {
  :root {
    --base: #13253a;

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #13253a;
    --background: 226 97.55% 98.3%;
    --foreground: 226 5.1% 0.6%;

    --muted: 226 5.1% 91.5%;
    --muted-foreground: 226 2.55% 41.5%;

    --popover: 226 49.2% 91.5%;
    --popover-foreground: 226 5.1% 0.75%;

    --card: 226 49.2% 91.5%;
    --card-foreground: 226 5.1% 0.75%;

    --border: 226 10.1% 89.6%;
    --input: 226 10.1% 89.6%;

    --primary: 226 51% 15%;
    --primary-foreground: 226 1.02% 91.5%;

    --secondary: 226 2.55% 95.75%;
    --secondary-foreground: 226 4.0600000000000005% 11.5%;

    --accent: 226 2.55% 95.75%;
    --accent-foreground: 226 4.0600000000000005% 11.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 226 51% 15%;

    --radius: 0.5rem;
  }

  .dark {
    --base: #c7d9ed;

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #c7d9ed;

    --background: 225 33.15% 6.8%;
    --foreground: 225 5.1% 99.25%;

    --muted: 225 25.5% 25.5%;
    --muted-foreground: 225 5.1% 58.5%;

    --popover: 225 54.8% 11.049999999999999%;
    --popover-foreground: 225 5.1% 99.25%;

    --card: 225 54.8% 11.049999999999999%;
    --card-foreground: 225 5.1% 99.25%;

    --border: 225 25.5% 25.5%;
    --input: 225 25.5% 25.5%;

    --primary: 225 51% 85%;
    --primary-foreground: 225 5.1% 8.5%;

    --secondary: 225 25.5% 25.5%;
    --secondary-foreground: 225 5.1% 99.25%;

    --accent: 225 25.5% 25.5%;
    --accent-foreground: 225 5.1% 99.25%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 225 5.1% 99.25%;

    --ring: 225 51% 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
