@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://gradient.page/tools/shadcn-ui-theme-generator */

@layer base {
  :root {
    --base: hsl(225, 30%, 40%);
    --secondary: hsl(45, 30%, 40%);

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #13253a;

    --track-background: 225 25% 75%;
    --thumb-background: 45 20% 75%;

    --background: 225 25% 90%;
    --foreground: 225 10% 10%;

    --muted: 225 10% 85%;
    --muted-foreground: 225 5% 40%;

    --popover: 225 20% 90%;
    --popover-foreground: 225 20% 10%;

    --card: 225 30% 85%;
    --card-foreground: 225 30% 10%;

    --border: 225 15% 80%;
    --input: 225 15% 80%;

    --primary: 225 30% 40%;
    --primary-foreground: 225 5% 95%;

    --secondary: 45 40% 60%;
    --secondary-foreground: 45 5% 20%;

    --accent: 225 45% 85%;
    --accent-foreground: 225 0% 10%;

    --destructive: 0 65% 55%;
    --destructive-foreground: 0 0% 98%;

    --success: 120 55% 40%;
    --success-foreground: 120 5% 95%;

    --warning: 40 65% 40%;
    --warning-foreground: 40 5% 95%;

    --ring: 225 15% 55%;

    --radius: 0.5rem;
  }

  .dark {
    --base: #c7d9ed;

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #c7d9ed;

    --track-background: 225 25% 15%;
    --thumb-background: 45 20% 25%;

    --background: 225 25% 10%;
    --foreground: 225 10% 90%;

    --muted: 225 10% 15%;
    --muted-foreground: 225 5% 65%;

    --popover: 225 30% 20%;
    --popover-foreground: 225 30% 98%;

    --card: 225 30% 15%;
    --card-foreground: 225 30% 90%;

    --border: 225 15% 20%;
    --input: 225 15% 20%;

    --primary: 225 30% 50%;
    --primary-foreground: 225 5% 10%;

    --secondary: 45 30% 50%;
    --secondary-foreground: 45 5% 10%;

    --accent: 225 35% 35%;
    --accent-foreground: 225 0% 98%;

    --destructive: 0 45% 30%;
    --destructive-foreground: 0 0% 80%;

    --success: 120 35% 40%;
    --success-foreground: 120 5% 5%;

    --warning: 40 55% 45%;
    --warning-foreground: 40 5% 5%;

    --ring: 225 15% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
